*               {margin: 0; padding: 0;}
body            {background: #fff; font-family: "Helevetica Neue", "Lucida Grande", "Arial";}
#wrap           {width: 520px; margin: 40px auto 20px auto; position: relative;}
#wrap h1        {width: 100px; height: 158px; margin: 10px auto; text-indent: -9999px; background: url(/images/logo-school.png) no-repeat top left; position: absolute; left: -120px;}
#wrap h1 a      {width: 100px; height: 158px; display: block;}
#wrap #logo     {display: block; margin: 10px auto;}
#wrap p         {font-size: 18px; line-height: 1.5em; margin-bottom: 1em; text-align: left;}
#wrap p a       {text-decoration: none; color: #292; border-bottom: 1px dotted #292;}
#wrap p a:hover {border-bottom-style: solid;}
.hidden         {display: none;}

#post           {font-family: "Arial";}
#post h2        {font-size: 30px; padding: 60px 0; font-family: "Arial";}
#post h3        {font-size: 14px;}
#post p         {font-size: 14px;}

.section        {width: 240px; margin-right: 10px; float: left; padding: 5px; background: #333; -webkit-border-radius: 5px;}
.section h2     {color: #fff;}
.section ul     {width: 250px; margin-left: -5px; list-style: none;}
.section ul a   {color: #4c4; text-decoration: none; font-size: 13px; display: block; padding: 2px 5px; float: left; width: 230px; margin: 0 5px; -webkit-border-radius: 5px;}
.section ul a:hover {background: #fff; color: #333;}
.section a strong {float: left; font-weight: normal; display: block;}
.section a span   {float: right; display: block;}