<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
	<head> 
		<title>Papers</title> 
		<style type="text/css" media="screen"> 
			body {width: 600px; margin: auto;}
			p  	 {line-height: 1.5em !important; margin: 1em 0 !important; font-size: 14px;}
		</style> 
		<link rel="stylesheet" href="/stylesheets/paper.css" type="text/css"> 
	</head> 
	<body>
		<h1>{{ page.title }} <em>{{ page.author }}</em></h1>
		{{ content }}
	</body>
</html>